@model VehicleDefinitionDto

<h1>Araç Tanımı Güncelleme</h1>
<div class="row">
    <div class="col-12 col-sm-8 col-md-6">
        <form method="post" asp-controller="VehicleDefinition" asp-action="Edit">
            
            <input type="hidden" asp-for="Id" />
            <div>
                <label class="form-label">Marka Adı</label>
                <select asp-for="VehicleMakeId" id="vehicle_makes" asp-items="(SelectList)ViewBag.MakeList" value="" class="form-select w-100"></select>
                @*@Html.TextBoxFor(m=>m.Name,new {@class="form-control"})*@
            </div> @*asp-itemsa SelectListitem göndermen gerekiyor*@
            <div class="mt-2">
                <label class="form-label">Model Adı</label>
                <select asp-for="VehicleModelId" class="form-select w-100" asp-items="(SelectList)ViewBag.ModelList" asp-for=VehicleModelId></select>
                @*@Html.DropDownListFor(m=>m.Id,(SelectList)ViewBag.VehicleMakeList,new {@class="form-control"}) @*For yazınca modelden seçebiliyoruz modelden*@
            </div>
            <div>
                <label class="form-label">Yıl</label>
                <input class="form-control w-100" asp-for="Year" />

            </div>
            <div>
                <label class="form-label">Yolcu Kapasitesi</label>
                <input class="form-control w-100" asp-for="SeatCount" />

            </div>
            <div class="form-group">
                <label class="form-label">Tuvalet</label>
                <input type="checkbox" asp-for="HasToilet" class="form-check" />

            </div>
            <div class="form-group">
                <label class="form-label">WiFi</label>
                <input type="checkbox" asp-for="HasWifi" class="form-check" />
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-success">
                    Kaydet
                </button>
            </div>

        </form>
    </div>

</div>

@section Scripts
    {
    <script>
        //let vehicleMakesSelect=document.getElementById('vehicle_makes');

        let vehicleMakesSelect = document.querySelector('#vehicle_makes');
        vehicleMakesSelect.addEventListener('change', function () {

            // Elementin kendisi ==>this

            console.log(this.value)

            $.ajax({
                url: `/VehicleModel/GetVehicleModelsById?vehicleMakeId=${this.value}`,
                method: 'get',
                success: function (vehicleModels) {

                    var vehicleModelsSelect = document.querySelector('#VehicleModelId');
                    vehicleModelsSelect.innerHTML = null;
                    for (let vehicleModel of vehicleModels) {

                        let optionElement = document.createElement('option');
                        optionElement.value = vehicleModel.id;
                        optionElement.innerText = vehicleModel.name;
                        vehicleModelsSelect.appendChild(optionElement);

                    }

                }


            });
        })
    </script>

    @*<script>

        //Literal Objects
        let player = {
            firstName: 'Tsubasa',
            lastName: 'Ozora',

        }
    </script>*@
}


