@model IEnumerable<CityDto>


    


<div class="row">
    <div class="col-12">

        <table class="table table-striped" id="myTable">
            <thead>
                <tr> 
                    <th>Id</th>
                    <th>Şehir Adı</th> @*Tamamı Element <th ise etiket*@
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    //dynamic tipi ile kodlama yapma DUCK TYPING
                    //Duck Typing tekniği ile View içerisinde kodlama yapmak biraz zor olabileceği için
                    //sayfanın yukarısında model tanımlaması yapmak daha iyidir
                    //** razor içinde yazdığımız kodlar client serverına gitmeyecek. tagler içinde geçerli
                    <tr>
                        <td>@item.Id</td> @*Table division*@   @*Burada hmtl tagı kullandığımız için @ ile tekrar tanıt*@
                        <td>@item.Name</td>
                        
                    </tr>
                }
            </tbody>
        </table>
        
    </div>

</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}














@*@section Scripts

{
    <script>
        //document. yazdıktan sonra eriştiğimiz Property, Metot ve diğer üyeler DOM frameworkünün birer üyesidir.
        //DOM -> Document Object Model sayfanın belge modeli..
        let formElements = document.getElementsByTagName('form');
        for(let i=0; i < formElements.length;i++)
        {
            formElements[i].addEventListener('submit',function (eventArgs) {
            
             let confirmed = confirm("Dikkat!! Bu kayıt silinecek devam etmek istiyor musunuz?");
             if(!confirmed){
                 eventArgs.preventDefault();
             }

            
            
            }); //callback tekniği bir fonksiyona bir başka fonksiyon gönderme
        }


    </script>


}*@

