<div class="row">
    <div class="col-12">
        <h1>Marka Ekleme</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4"> @*Burada col-12 en düşük için çalışacak*@

        <form method="post" action="/VehicleMake/CreateVehicleMake">
            <label class="form-label">Marka Adı</label>
            <input class="form-control border-1 border-secondary" name="marka_adi"/>
            
            <button class="btn btn-outline-primary float-end" type="submit">Markayı Kaydet</button>
        </form>
    </div>
</div>
            







